@import "modern-normalize/modern-normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg: #000000;
  --dark-waves: #294259;
  --text-primary-color: #ebeef0;
  --bg-button-color: linear-gradient(rgb(97, 159, 218), rgb(207, 226, 241));
  --bg-color-accent: linear-gradient(
    to right,
    rgb(62, 88, 112),
    rgba(62, 88, 112, 0.523)
  );
  --bg-color: linear-gradient(
    to bottom,
    rgba(97, 159, 218, 0.5) 60%,
    var(--main-bg) 100%
  );

  --new-gradient: linear-gradient(to right, #294259, var(--main-bg));
  --new-gradient-bottom: linear-gradient(to bottom, 273f54, var(--main-bg));

  --bg-hover-color: rgb(252, 70, 79, 0.7);

  --light-text-color: #fbfbfb;
  --hover-buttons-blu: rgb(207, 226, 241);
  --accent-color: rgb(97, 159, 218);
  --accent-color-light-hover: var(--text-primary-color);
  --light_red_text: rgba(245, 204, 206, 0.8);

  --grey-text-color: rgb(226, 226, 226);
  --grey-secondary-color: rgba(154, 154, 154, 0.8);

  --error-color: #e74a3b;
  --send: rgba(228, 226, 195, 0.8);
  --success-green-color: #42ba82;
  --transition-base: all 0.3s ease;

  background-image: var(--new-gradient);
}

body {
  margin: 0;
  min-height: 100dvh;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
